:root {
  --bggradient: linear-gradient(to right, #fa255eaf 65%, #c39ea0, #f8e5e5);
  /* --bggradient: linear-gradient(
    160deg,
    #fbd3d3 50%,
    #ababab 65%,
    #bbb 70%,
    #ccc 75%,
    #fde3fc
  ); */
}
.is-pink {
  background-image: linear-gradient(to right, #f650a0, #ff9897);
  justify-content: flex-start;
}

.footer.is-dark {
  background-color: #363636;
  color: #fff;
}

.navbar-item.is-dark {
  background-color: #363636;
  color: #fff;
}

.pt-hero {
  padding-top: 15rem;
  padding-left: 5rem;
  margin-left: 5rem;
}

.pl-hero-img {
  margin-left: 0px;
}

.image.is-hero {
  padding-right: 4rem;
  padding-top: 0.5rem;
  width: 1100px;
  height: auto;
}

.px-nav {
  padding-left: 17rem;
  padding-right: 15rem;
}

.pd-footer {
  padding: 5rem;
}

.screen-imgbox {
  width: 50%;
  height: 100%;
}

.screen-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  object-fit: cover;
}

.screen-img:hover {
  transform: scale(1.02);
}

.screen-txtbox {
  position: relative;
  border-radius: 12px;
  width: 50%;
  padding: 3rem;
}

.screen-header {
  font-size: 3.5rem;
}

.screen-btn {
  width: 150px;
  height: 50px;
  border-radius: 18px;
  margin-top: 50px;
}

.neon-button {
  color: hsl(317 100% 54%);
  border: hsl(317 100% 54%) 0.125em solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
  position: relative;
}

.search-header {
  padding-top: 6px;
  padding-right: 15px;
}
.form-input {
  width: 300px;
}
.form-input,
.submit-btn {
  border: none;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  background: transparent;
  color: #363636;
  border-bottom: 3px solid #363636;
  cursor: pointer;
}

.form-input {
  color: #363636;
}
.form-input::placeholder {
  color: hsl(210, 22%, 49%);
}
.photo {
  position: relative;
  display: flex;
  margin-top: 8px;
  width: 30vw;
  overflow: hidden;
  height: auto;
  border-radius: 16px;
}
.photo h2 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
}
.photo p {
  margin-bottom: 0;
}

.photo-info {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  transform: translateY(100%);
  transition: all 0.3s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo:hover .photo-info {
  transform: translateY(0);
}

.column-img {
  vertical-align: middle;
  width: 33vw;
  object-fit: contain;
  cursor: pointer;
}

.loading {
  width: 100%;
  background-color: #e93976;
  justify-content: center;
  display: flex;
  align-content: center;
}

.loading img {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .is-pink {
    background-image: linear-gradient(to right, #f650a0, #ff9897);
  }

  .px-nav {
    padding-left: 2.5rem;
    padding-right: 0rem;
  }

  .pt-hero {
    padding-top: 2.5rem;
    padding-left: 0rem;
    margin-left: 0rem;
  }

  .image.is-hero {
    padding-right: 0;
    width: 1000px;
  }

  .pd-footer {
    padding: 0rem;
  }

  .text-footer {
    display: none;
  }

  .icon-footer {
    padding: 0;
  }

  .screen-imgbox {
    width: 100%;
    height: 50%;
  }

  .screen-img {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .screen-header {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }

  .screen-text {
    display: none;
  }

  .screen-btn {
    margin-top: 20px;
  }

  .screen-txtbox {
    padding: 1rem;
  }
  .search-header {
    display: none;
  }
  .form-input {
    width: 150px;
  }
  .sort-btn {
    font-size: 1rem;
  }

  .photo {
    width: 95vw;
  }

  .ant-image {
    width: 100vw;
  }
}

.ant-image-preview-img {
  min-width: 33vw;
}
